#  keybinding resolver ( ctrl+. )
# contexts: ctrl+shift+p

'body':
    'ctrl-q': 'unset!'
    'ctrl-d': 'unset!'
    'ctrl-d': 'editor:duplicate-lines'
    'shift-delete': 'unset!'
    'shift-delete': 'editor:delete-line'
    'ctrl-shift-W': 'unset!'
    'ctrl-shift-W': 'editor:toggle-soft-wrap'
'.workspace .editor:not(.mini)':
    # 'ctrl-d': 'unset!'
    # 'ctrl-d': 'editor:duplicate-lines'
    # 'shift-delete': 'unset!'
    # 'shift-delete': 'editor:delete-line'
    'ctrl-q': 'unset!'
    'ctrl-t': 'unset!'
    'ctrl-F': 'project-find:show'
    'ctrl-f': 'find-and-replace:show'
    'ctrl-alt-f': 'find-and-replace:show-replace'
    'f3': 'find-and-replace:find-next-selected'
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
    'ctrl-d': 'unset!'
    'ctrl-d': 'editor:duplicate-lines'
    'ctrl-q': 'unset!'
    # 'shift-delete': 'unset!'
    # 'shift-delete': 'editor:delete-line'
#    'ctrl-shift-t': 'unset!'
